{{!-- <div class="general-card">
    <h2>Your Profile</h2>
    <p>Username: {{user.username}}</p>
    <p>Email: {{user.email}}</p>
    <p>Admin: {{user.isAdmin}}</p>
</div> --}}


<div class="general-card">
    <h2>Your Profile</h2>
    <p class="username">Username: <span>{{user.username}}</span></p>
    <p class="username">Email: <span>{{user.email}}</span></p>
    <p class="username">Rank: <span id="admin">{{user.isAdmin}}</span></p>
</div>

