<div class="edir">
<a href="/recipes/recipe-list" style="font-weight:bold; background-color:#523A28;">Back</a>
<h2 class="fontbold">Reviews</h2>
{{#each recipe.comments}}
<div class="review">
    <p>User: {{user.username}}</p>
    <p>Rating: {{rate}}</p>
    <p class="stars">Comment: {{comment}}</p>

    <a href="/comments/comment-edit/{{_id}}" class="btn">Edit</a>
    <form action="/comments/comment-delete{{_id}}" method="POST">
        <button class="btn" type="submit">Delete</button>
    </form>

</div>
{{/each}}

{{#if user}}
<form action="/comments/comment-new/{{recipe._id}}" method="POST">
<div class="form-row">
    <div class="form-group col-md-6">
        <textarea name="comment" rows="4" cols="50" placeholder="Please add your comment here" required class="form-control"></textarea>
    </div>
    <div class="form-group col-md-6">
        <div class="form-group">
        <select class="custom-select form-control" name="rate">
            <option value="&#11088">&#11088</option>
            <option value="&#11088&#11088">&#11088&#11088</option>
            <option value="&#11088&#11088&#11088">&#11088&#11088&#11088</option>
            <option value="&#11088&#11088&#11088&#11088">&#11088&#11088&#11088&#11088</option>
            <option value="&#11088&#11088&#11088&#11088&#11088">&#11088&#11088&#11088&#11088&#11088</option>
        </select>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</div>
</form>
{{/if}}
</div>
{{!-- ---------------------------------- --}}

{{!-- {{#if currentuser}}
<form action="/comments/comment-new/{{recipe._id}}" method="POST">
    <textarea name="comment" rows="4" cols="50"></textarea>
    <select name="rate">
    <option value="&#11088">&#11088</option>
    <option value="&#11088&#11088">&#11088&#11088</option>
    <option value="&#11088&#11088&#11088">&#11088&#11088&#11088</option>
    <option value="&#11088&#11088&#11088&#11088">&#11088&#11088&#11088&#11088</option>
    <option value="&#11088&#11088&#11088&#11088&#11088">&#11088&#11088&#11088&#11088&#11088</option>
    </select>
    <button class="btn" type="submit">Submit</button>
</form>
{{/if}} --}}

