<a href="/recipes/recipe-list">Back</a>
<h2>Reviews</h2>
{{#each recipe.comments}}
<div class="review">
    <p>user: {{user.username}}</p>
    <p>Rating: {{rate}}</p>
    <p class="stars">Comment: {{comment}}</p>
    <a href="/comments/comment-edit/{{_id}}" class="btn">Edit</a>
    <form action="/comments/comment-delete{{_id}}" method="POST">
        <button class="btn" type="submit">Delete</button>
    </form>
</div>
{{/each}}
{{#if currentuser}}
<form action="/comments/comment-new/{{recipe._id}}" method="POST">
    <textarea name="comment" rows="4" cols="50" required></textarea>
    <select name="rate">
    <option value="&#11088">&#11088</option>
    <option value="&#11088&#11088">&#11088&#11088</option>
    <option value="&#11088&#11088&#11088">&#11088&#11088&#11088</option>
    <option value="&#11088&#11088&#11088&#11088">&#11088&#11088&#11088&#11088</option>
    <option value="&#11088&#11088&#11088&#11088&#11088">&#11088&#11088&#11088&#11088&#11088</option>
    </select>
    <button class="btn" type="submit">Submit</button>
</form>
{{/if}}