<div class="general-card">
    <h1 class="index-title">FOOD WARS</h1>
    <p class="small-text">{{appTitle}} 🚀</p>


    <div>
        <h2>Welcome to Food Wars!</h2>
        <p>Food Wars is a food blog where you'll be able to find delicious recipes.</p>
        <p>Please create an account and login in order to review and rate our recipes.</p>
        <p>Enjoy &#128523</p>
    </div>

    <div class="quote-layout">
        <h3>Food quote of the day:</h3>
        <div class="quote">
            <p id="quote"><i>{{quote.quote}}</i></p>
            <p id="quote-author">Author: {{quote.author}}</p>
        </div>
    </div>

    <a href="/recipes/recipe-list" class="btn form-control">Check out our recipes &#10024</a>
</div>

{{!-- <h1 class="index-title">FOOD WARS</h1>
<p class="small-text">{{appTitle}} 🚀</p>


<div>
    <h2>Welcome to Food Wars!</h2>
    <p>Food Wars is a food blog where you'll be able to find delicious recipes.</p>
    <p>Please create an account and login in order to review and rate our recipes.</p>
    <p>Enjoy &#128523</p>
</div>

<div class="quote-layout">
    <h3>Food quote of the day:</h3>
    <div class="quote">
        <p id="quote"><i>{{quote.quote}}</i></p>
        <p id="quote-author">Author: {{quote.author}}</p>
    </div>
</div>

<a href="/recipes/recipe-list">Check out our recipes &#10024</a> --}}
