{{#each recipe}}
<h3>{{title}}</h3>
    <p>Level: {{level}}</p>
    <p>Dish type: {{dishType}}</p>
    <p>Duration: {{duration}}min</p>
    <img class="food-images" src="{{image}}" />
    <p>Ingredients:</p>
    <ul>
        {{#each ingredients}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
<p>Instructions: {{intructions}}</p>
<a href="/comments/comments-list/{{_id}}">Comments</a>
{{!-- {{#if currentuser.isAdmin}} --}}
<a href="/recipes/edit-recipe{{_id}}">Edit Recipe</a>
<form action="/recipes/recipe-delete{{_id}}" method="POST">
    <button type="submit">Delete</button>
</form>
{{!-- {{/if}} --}}
{{/each}}


