{{#if user.isAdmin}}
    <a href="/recipes/new-recipe">Create Recipes</a>
{{/if}}
<form action="/recipes/recipe-list" method="POST">
<label>Level: 
<select name="level">
    <option value="">None</option>
    <option value="Easy">Easy</option>
    <option value="Medium">Medium</option>
    <option value="Hard">Hard</option>
</select>
</label>
<label>Dish Type: 
<select name="dishtype">
    <option value="">None</option>
    <option value="Breakfast">Breakfast</option>
    <option value="Lunch">Lunch</option>
    <option value="Snack">Snack</option>
    <option value="Dinner">Dinner</option>
    <option value="Dessert">Dessert</option>
    <option value="Other">Other</option>
</select>
</label>
<button type="submit">Filter</button>
<a href="/recipes/recipe-list">Reset</a>
</form>
{{#each recipe}}
<div class="card">
    <h3>{{title}}</h3>
    <p>Level: {{level}}</p>
    <p>Dish type: {{dishType}}</p>
    <p>Duration: {{duration}}min</p>
    <img class="food-images" src="{{image}}" />
    <p>Ingredients:</p>
    <ul class="justify">
        {{#each ingredients}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <p>Instructions:</p>
    <ol class="justify">
        {{#each instructions}}
        <li>{{this}}</li>
        {{/each}}
    </ol>
    <a href="/comments/comments-list/{{_id}}">Comments</a> 
    {{#if ../user.isAdmin}}
    <span> | </span><a href="/recipes/edit-recipe/{{_id}}">Edit Recipe</a>
    <form action="/recipes/delete-recipe/{{_id}}" method="POST">
        <button type="submit">Delete</button>
    </form>
    {{/if}}
</div>
{{/each}}
    



