{{#each recipe}}
<h3>{{title}}</h3>
    <p>Level: {{level}}</p>
    <p>Dish type: {{dishType}}</p>
    <p>Duration: {{duration}}min</p>
    <img class="food-images" src="{{image}}" />
    <p>Ingredients:</p>
    <ul>
        {{#each ingredients}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
<p>Instructions: {{intructions}}</p>
<a href="/comments/comments-list">Comments</a>
{{#if user.isAdmin}}
<a href="/recipes/recipe-edit:id">Edit Recipe</a>
<form action="/recipes/recipe-delete{{_id}}" method="POST">
    <button type="submit">Delete</button>
</form>
{{/if}}
{{/each}}
